
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-dashboard-styles.html">

<dom-module id="my-dashboard">
    <template>
        <style include="shared-styles my-dashboard-styles"></style>

        <div class="container">
            <iron-image src="../images/avatar2.png"></iron-image>
            <h3 class="title">Hola Carlos, soy tu asistente. ¿Qué desea hacer?</h3>
            <div id="menu-items">
                <paper-card id="menu-profile">
                    <div class="card-content">
                        <iron-icon icon="fac-icons:face"></iron-icon>
                        <div class="aplication">Me gustaria conoceros mejor</div>
                    </div>
                </paper-card>

                <paper-card id="menu-assistant">
                    <div class="card-content">
                        <iron-icon icon="fac-icons:forum"></iron-icon>
                        <div class="aplication">Asistente virtual</div>
                    </div>
                </paper-card>

                <paper-card id="menu-map">
                    <div class="card-content">
                        <iron-icon icon="fac-icons:place"></iron-icon>
                        <div class="aplication">Mapa de recursos</div>
                    </div>
                </paper-card>

                <paper-card id="menu-timeline">
                    <div class="card-content">
                        <iron-icon icon="fac-icons:timeline"></iron-icon>
                        <div class="aplication">Recordatorios</div>
                    </div>
                </paper-card>

                <paper-card id="menu-question">
                    <div class="card-content">
                        <iron-icon icon="fac-icons:help"></iron-icon>
                        <div class="aplication">¿Cómo estás hoy, Carlos?</div>
                    </div>
                </paper-card>
            </div>
        </div>
    </template>

    <script>
        class MyDashboard extends Polymer.Element {
            static get is() { return 'my-dashboard'; }
        }

        window.customElements.define(MyDashboard.is, MyDashboard);
    </script>
</dom-module>
