<dom-module id="my-dashboard-styles">
    <template>
        <style include="iron-flex iron-flex-alignment">
            :host {
                display: block;
                padding: 24px;
            }

            .container{
                @apply --layout-vertical;
                @apply --layout-center;
            }

            iron-image{
                margin-top: 10px;
            }

            .title{
                text-align: center;
                opacity: .87;
                font-weight: 400;
                max-width: 70vw;
            }

            #menu-items{
                @apply --layout-vertical;
                flex: 1;
                margin-top: 16px;
                width: 100%;
            }

            paper-card{
                flex: 1;
                margin-bottom: 10px;
                border-radius: 5px;
                box-shadow: none;
            }

            .card-content{
                @apply --layout-horizontal;
                color: #fff;
                padding: 12px 16px;
            }

            .card-content iron-icon{
                padding-right: 16px;
                --iron-icon-fill-color: #fff;
            }

            #menu-profile{ background-color: var(--fac-profile) }
            #menu-assistant{ background-color: var(--fac-asistant) }
            #menu-map{ background-color: var(--fac-map) }
            #menu-timeline{ background-color: var(--fac-timeline) }
            #menu-question{ background-color: var(--fac-question) }
        </style>
    </template>
</dom-module>
